@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:wght@700&family=Roboto:wght@700&display=swap');

.head1 {
  font-family: 'Lobster Two', cursive;
  font-size: 35px;
}

.head2 {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.nav {
  text-align: center;
  width: 100%;
  top: 0px;
}

.navbar-expand-lg {
  width: 100%;
}

.nav-item {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-nav {
  margin-right: 20px;
}

.head-3 {
  font-family: 'Abril Fatface', cursive;
  background-color: #d91124;
  color: white;
  font-size: 25px;
  padding-inline: 35px;
}